.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 18px 24px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(104, 121, 187, 0.1);
  font-size: 14px;
  filter: drop-shadow(0px 4px 12px rgba(104, 121, 187, 0.15));
}

.title {
  color :#6879BB;
  font-weight: bold;
  cursor: pointer;

  img {
    vertical-align: top;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background-position: center;
  background-repeat: no-repeat;

  &.open{
    background-image: url("../../assets/menu-open.png");
  }

  &.close{
    background-image: url("../../assets/menu-close.png");
  }
}

.menuTrigger {
  display: flex;
  align-items: center;
}

.menuTriggerOpen {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 24px;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  background: #535374;
}

.overlay {
  position: fixed;
  background: #20262B;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.hide {
    display: none;
  }
}

.list {
  position: fixed;
  height: 0;
  top: 0;
  overflow: hidden;
  background: #404064;
  transition: height 0.5s;

  &.open {
    left: 0;
    height: 100%;
    transition: height 0.5s;
  }
}


.menuLink {
  display: block;
  padding: 18px 24px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  box-sizing: border-box;

  &:hover {
    background-color: #333350;
  }

  &.active {
    padding-left: 21px;
    border-left: 3px solid #FFCE0C;
    background-color: #333350;
  }

  & img {
    padding-right: 12px;
    vertical-align: top;
  }
}