.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin: 0;
  font-size: 26px;
  line-height: 35px;
  color: #404064;
}

.input {
  margin: 7px 0;
  height: 36px;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid #D6DCE9;
  border-radius: 4px;
  background-color: white;
  color: #6879BB;
  outline: none;
  &:hover, &:focus {
    border-color: #415FD5;
    color: #415FD5;
  }
  &:disabled {
    background: #F5F5F5;
    border-color: #D6DCE9;
  }
  &.error {
    border-color: red;
  }
}

.fieldsWrapper {
  padding: 24px ;
  background: white;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  max-width: 700px;
}


button {
  padding: 5px 24px;
  height: 36px;
  box-sizing: border-box;
  background: #FFCE0C;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;

  &:hover {
    background-color: #FFD73B;
  }
  &:focus {

    background-color: #FFCE0C;
    border: 1px solid #FFFBEA;
    box-shadow: 0px 1px 10px #FFD73B;
  }

  &:disabled {
    background: rgba(255, 206, 12, 0.5);
  }
}

.label {
  font-size: 14px;
  line-height: 19px;
  color: #999999;
}

.passwordWrapper {
  display: flex;
  align-items: center;
  padding: 0 12px;

  & input {
    flex-grow: 1;
    padding: 0 5px 0 0;
    height: 34px;
    border-radius: 4px;
    border: none;
    outline: none;
  }

  & .trigger {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center, center;

    &.showPassword {
      background-image: url('../../assets/eye_open.png');
    }
  
    &.hidePassword {
      background-image: url('../../assets/eye_close.png');
    }
  }
}
