.trigger {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center, center;

  &.showPassword {
    background-image: url('../../assets/eye_open.png');
  }

  &.hidePassword {
    background-image: url('../../assets/eye_close.png');
  }
}