.process {
  padding-right: 24px;
  margin: 12px 0;
  background: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 24px 24px;
  border-bottom: 1px solid #D6DCE9;
}

.title {
  margin: 0;
  font-size: 22px;
  line-height: 30px;
  color: #6879BB;
}

.link {
  text-decoration: none;
  color: rgba(104, 121, 187, 0.5);
  font-size: 12px;
  line-height: 16px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 24px;
}

.infoBlock {
  margin: 0 60px;
  color: #535374;

  &:first-child {
    align-self: center;
  }
}

.item {
  padding: 10px 0;

  & img {
    margin-right: 12px;
  }
}

.infoCount {
  font-size: 26px;
  line-height: 35px;
  font-weight: bold;
}

.infoData {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

.sub{
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 20px;

  & .data {
    font-size: 12px;
    color: #333;
  }
}